body{
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.loc{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.15em;
}

.font1{
    font-family: sans-serif;
}

.Fon{
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 500;
   line-height: 30px;
}

.Fon span{
    display: block;
}

.gift{
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 1000;

}

.ref{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.ref span{
    display: block;
}

.last{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
    word-spacing: 5px;
}

.last span{
    display: block;
}


.Outline{
    border-style: dashed;
    border-color: black;
    width: 430px;
}

.store{
    left: 20%;
}


